.footer {
  margin-top: 1rem;
  padding: 4rem 0rem 1rem 0rem;
  background-image: url("../../assets/city2.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat-x;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 100%;
}

.footer-content {
  margin-top: 1rem;
  padding: 4rem 0rem 0rem 4rem;
  text-align: left;
  justify-content: center;
}

.mlh-prep-logo {
  width: 20%;
  height: auto;
  margin-top: 1rem;

  padding: 4rem 0rem 0rem 0rem;
  object-fit: cover;
}

.footer-content.footer-text {
  width: auto;
  height: au
}
