body {
  background-color: #133667;
  color: white;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
}

.Results {
  background-color: white;
  margin: 20px 150px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.map-container {
  margin: auto;
  width: 80%;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Background Images */
.Mist,
.Rain,
.Clouds,
.Clear,
.Thunderstorm,
.Snow,
.Drizzle,
.Haze {
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}

.Mist {
  background-image: url(./assets/backgrounds/mist.jpg);
}

.Rain {
  background-image: url(./assets/backgrounds/rain.jpg);
}

.Clouds {
  background-image: url(./assets/backgrounds/clouds.jpg);
}

.Clear {
  background-image: url(./assets/backgrounds/clear.jpg);
}

.Thunderstorm {
  background-image: url(./assets/backgrounds/thunderstorm.jpg);
}

.Snow {
  background-image: url(./assets/backgrounds/snow.jpg);
}

.Drizzle {
  background-image: url(./assets/backgrounds/drizzle.jpg);
}

.Haze {
  background-image: url(./assets/backgrounds/haze.jpg);
}
