body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  gap: 40px;
  padding: 20px 0px;
}

.Results {
  background-color: white;
  width: 50%;
  border-radius: 12px;
  color: black;
  /* padding: 10px; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.items-card {
  width: 50%;
  background-color: white;
  border-radius: 12px;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  padding: auto 0px;
}

/* For required items to be brought */
.card {
  display: inline;
}

.card img {
  max-width: 30%;
  margin: 5px;
}

.map-container {
  height: 400px;
  margin: 0px auto 10px;
  width: 80%;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 800px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
  }

  .Results, .items-card {
    width: 100%;
  }
}

/* Background Images */
.Mist {
  background-image: url(./assets/backgrounds/mist.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}

.Rain {
  background-image: url(./assets/backgrounds/rain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}

.Clouds {
  background-image: url(./assets/backgrounds/clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}

.Clear {
  background-image: url(./assets/backgrounds/clear.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}

.Thunderstorm {
  background-image: url(./assets/backgrounds/thunderstorm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}

.Snow {
  background-image: url(./assets/backgrounds/snow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}

.Drizzle {
  background-image: url(./assets/backgrounds/drizzle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}

.Haze {
  background-image: url(./assets/backgrounds/haze.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  height: 100%;
}
