body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.app-header {
  text-shadow: 1px 0px 5px #2b2929;
  font-weight: bold;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  gap: 40px;
  padding: 20px 0px;
}

#btn-about {
  display: inline-block;
  background: #4674b5;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #2b2929;
}

/* Background Images */
.Mist,
.Rain,
.Clouds,
.Clear,
.Thunderstorm,
.Snow,
.Drizzle,
.Haze {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 0.5s ease-out;
  height: 100%;
  padding-top: 20px;
}

.Mist {
  background-image: url(../backgrounds/mist.jpg);
}

.Rain {
  background-image: url(../backgrounds/rain.jpg);
}

.Clouds {
  background-image: url(../backgrounds/clouds.jpg);
}

.Clear {
  background-image: url(../backgrounds/clear.jpg);
}

.Thunderstorm {
  background-image: url(../backgrounds/thunderstorm.jpg);
}

.Snow {
  background-image: url(../backgrounds/snow.jpg);
}

.Drizzle {
  background-image: url(../backgrounds/drizzle.jpg);
}

.Haze {
  background-image: url(../backgrounds/haze.jpg);
}
