.map-container {
  height: 400px;
  margin: 0px auto;
  width: 80%;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.map-styles {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;

  padding: 5px;

  background-color: white;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 12px;

  transition: 0.5s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.map-radio-btn {
  display: flex;
  justify-content: flex-start;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}