.items-card-container {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.items-container {
  display: flex;
  width: 100%;
}

.items-card {
  width: 30%;
  margin: 0 10px;
  border-radius: 10px;
  padding: 10px;

  display: grid;
  place-items: center;
}

.items-card img {
  max-width: 70%;
}

@media screen and (max-width: 800px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
  }

  .Results,
  .items-card-container {
    width: 100%;
  }
}
