.items-container {
  width: 50%;
  background-color: white;
  border-radius: 12px;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  padding: auto;
}

.items-card {
  display: inline;
}

.items-card img {
  max-width: 30%;
  margin: 5px;
}

@media screen and (max-width: 800px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
  }

  .Results,
  .items-container {
    width: 100%;
  }
}