.Results {
  width: 50%;
  border-radius: 12px;
  color: black;
  text-align: left;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px 20px;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.Results .weather-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

/* To remove default margin: 1rem for <p> tags */
.Results .weather-card p {
  margin: 0;
  color: white;
}

.Results .weather-card .main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  font-size: 30px;
  font-weight: bold;
}
/* .Results .weather-card .main-info .main-info__location {
} */
.Results .weather-card .main-info .main-info__degree {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 35px;
}
.Results .weather-card .main-info .main-info__degree p svg {
  margin-bottom: -10px;
}
.Results .weather-card .main-info .main-info__feels-like {
  font-size: 18px;
  font-weight: bold;
}
/* .Results .weather-card .additional-info {
} */
.Results .weather-card .additional-info p {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .Results {
    max-width: 90%;
  }
  .Results .weather-card {
    flex-direction: column;
  }
  .Results .weather-card .main-info {
    font-size: 30px;
    align-items: center;
  }

  .Results .weather-card .main-info .main-info__degree {
    font-size: 28px;
  }
}
